    <p class="lead text-center">Filter by Area<p>


    <nav class="nav navbar-nav">
    <ul class="nav justify-content-center nav-tabs">
        <% Area.all.each do |area| %>
          <li class="nav-item mx-2">
          <% if params[:area] == area.name %>
            <%= link_to area.name, walkers_path(area: area.name), class: "nav-link active p-2" %>
          <% else %>
            <%= link_to area.name, walkers_path(area: area.name), class: "link nav-link p-2" %>
          <% end%>
          </li>
        <% end %>
    </ul>
    </nav>

<% if @walkers.count == 0 %>
  <h1 class="lead text-center mt-5">Sorry, there are currently no dog walkers registered for this area.</h1>
<% end %>
<% random = 1 %>
<% @walkers.each do |walker| %>
  <div>

    <img src="https://picsum.photos/200?random=<%= random %>" class="profile-img"/>

    <h2>
      <span><%= link_to walker.first_name + " " + walker.last_name, walker_path(walker) %></span>
    </h2>
    <h3>
      <%= walker.city %>
    </h3>
  </div>
  <% random = random + 1 %>
<% end %>